.recipe {
	font-family: "Lato", sans-serif;
	margin: 1.563rem 0;
	background: #e7e7e7;
	border-radius: 5px;
	&__name {
		font-size: 1.125rem;
		line-height: 1.35rem;
		font-weight: 400;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__time {
		font-size: 1.125rem;
		line-height: 1.35rem;
		font-weight: 700;
	}
	&__ingredient-item {
		font-size: 0.75rem;
		line-height: 0.9rem;
		max-width: 100%;
		background: inherit;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__ingredient-name {
		font-weight: 700;
	}
	&__ingredient-quantity {
		font-weight: 400;
	}
	&__description {
		line-height: 0.75rem;
		height: 6rem;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 8;
		/* autoprefixer: off */
		-webkit-box-orient: vertical;
		/* autoprefixer: on */
		font-size: 0.75rem;
		text-overflow: ellipsis;
	}
}
